* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html,
body,
header {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

div {
    display: block;
}

li.navbar {
    color: blue;
}

.navbar {
    min-height: 50px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

a {
    color: white;
}

.navbar-collapse.collapse {
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important
}

.navbar.always-open .navbar-collapse.collapse {
    display: none;
}

.navbar.always-open .navbar-collapse.in {
    display: block;
}

.left-line-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color: linear-gradient(90deg, rgba(5, 73, 20, 1) 3%, rgba(15, 107, 35, 1) 50%, rgba(18, 117, 40, 1) 100%);
}

.left-line-out:after {
    content: '';
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.left-line-out:hover:after {
    width: 100%;
    background: linear-gradient(90deg, rgba(5, 73, 20, 1) 3%, rgba(15, 107, 35, 1) 50%, rgba(18, 117, 40, 1) 100%);
}

header {
    width: 100%;
    height: 100%;
    background-image: url('skyscrapers.jpg');
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.intro-box {
    color: #d6c32d;
    left: 0;
    line-height: 80px;
    margin-top: -100px;
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;

}

.intro-line {
    font-size: 40px;
    font-style: italic;
}

.intro-sub {
    font-size: 100px;
    font-weight: 600;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.section-sub-heading {
    font-style: italic;
    color: gray;
}

.section-heading-text {
    font-weight: bold;
}

.col-lg-12 {
    margin-bottom: 35px;
    margin-top: 35px;
}

.content-container {
    padding: 1pc;
    margin: 1pc;
    border: 1px solid goldenrod;

}

.col-md-4 {}

.fa-mobile-alt,
.fa-envelope,
.fa-lock {
    font-size: 50px;
}

.line {
    height: 2px;
    background-color: goldenrod;
    width: 100px;
    margin: 0 auto;
}

.link {
    max-width: 400px;
    margin: 0 auto;
}

.services {
    padding-top: 5pc;
}

.works {
    padding-top: 5pc;
}

.work-image {
    width: 100%;
}

.work-sub {
    font-size: 18px;
    color: gray;
    font-style: italic;
}

.work-title {
    font-size: 25px;
}

.about {
    margin-top: 100px;
}

.about-words {
    font-size: 18px;
    color: gray;
    width: 100%;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.about-picture {
    width: 100%;

}

@media (max-width:992px) {
    .col-md-4,
    .col-sm-6 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width:1200px) {
    .section-heading-text {
        margin: 0 auto;
    }
}
